.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
  background: #8e9eab;
  background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);  
  background: linear-gradient(to top, #eef2f3, #8e9eab); 
}

.logo {
  box-sizing: border-box;
  width: 400px;
  padding: 10px;
  padding-left: 30px;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & > a {
      display: flex;
      justify-content: center;

      & > img {
        width: 100%;
        opacity: 0.7;
        border-radius: 10px;
      }
    } 
  }
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.upBlock {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
  
.button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
  padding-right: 20px;

  & > button {
    padding: 5px;
    width: 150px;
    cursor: pointer;
    border: none;
    background: rgb(98, 139, 188);
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 17px;

    &:hover {
      background: rgb(98, 139, 188, 0.5);
    }
  }
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;

  & > h1 {
    margin: 0;
    align-self: center;
    font-size: 40px;
  }
}

.downBlock {
  display: flex;
  justify-content: space-around;
  font-size: 17px;

  & > input {
    min-width: 200px;
    border-radius: 5px;
    border: 1px solid rgb(98, 139, 188);
  }

  & > div {
    min-width: 150px;
    padding: 5px;
    text-align: center;
  }
  
  & > a {
    text-decoration: none;
    padding: 5px;
  }
}
